# Base de données
MYSQL_ROOT_PASSWORD=changeme
MYSQL_DATABASE=schooltool_api
MYSQL_USER=schooltool
MYSQL_PASSWORD=changeme

# Auth database
AUTH_DB_NAME=schooltool_auth

# JWT
JWT_SECRET=changeme_min_32_characters

# Environnement
CI_ENV=production