<?xml version="1.0" encoding="UTF-8"?>
<phpunit bootstrap="application/tests/bootstrap.php"
         colors="true"
         verbose="true">
    <testsuites>
        <testsuite name="SchoolTool Tests">
            <directory>application/tests</directory>
        </testsuite>
    </testsuites>
</phpunit>